@import './main.css';

.index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-main);
    color: var(--text-main);
}

.chat-list {
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--background-card);
    border-right: 1px solid var(--border);
}

.chatroom-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    gap: 10px;
}

.chatroom-card {
    padding-left: 10px;
    border: 2px solid var(--border);
    cursor: pointer;
    border-radius: 20px;
    
}

.chatroom-card:hover {
    background-color: var(--background-alt);
    border: 2px solid var(--accent);
}

.chat-window {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    background-color: var(--background-alt);
    color: var(--text-main);
    align-items: center;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.message-list ol {
    flex: 1;
    padding: 10px;
}

.message-list li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gif-message {
    border-radius: 10px;
    border: 5px solid var(--background-main);
}

.logout-button {
    padding: 12px 20px;
    background-color: var(--accent);
    color: var(--background-main);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(46, 204, 113, 0.15);
    font-size: 24px;
    margin: 10px;
}

.logout-button:hover {
    background-color: var(--accent-hover);
    color: var(--text-main);
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(46, 204, 113, 0.22);
}